<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>学生列表</title>
	<link rel="stylesheet" href="/css/dateTime.css">
	<!-- 引入bootstrap -->
	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
	<script src="/js/dateTime.min.js"></script>
	<script src="/js/distpicker.data.js"></script>
	<script src="/js/distpicker.js"></script>
	<!--		<script src="/js/main.js"></script>-->

	<style>
		.input-group, .input-group-md{
			margin:20px 20px;
		}
		h2{
			padding:5px;
			border-bottom:1px solid #ddd;
		}

	</style>
</head>
<body>
<!-- 导航 -->
<div th:replace="commons/bar::topbar"></div>
<!-- 主题内容 -->
<!-- 主题内容 -->
<div class="container-fluid">
	<div class="page-main col-sm-8 col-sm-offset-1">
		<div class="input-group">
			<a th:href="@{/curriculum/curriculumList}"><label class="glyphicon glyphicon-chevron-left"></label>返回上页</a>
		</div>
		<form class="form-horizontal" th:action="@{/curriculum/modifyCurriculum}">
			<input type="hidden" name="id" th:value="${curriculum.id}">
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">课程号</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="classNo" th:value="${curriculum.classNo}">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">课程名</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="className"  th:value="${curriculum.className}">
				</div>
			</div>

			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">上课教室</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="classRoom"  th:value="${curriculum.classRoom}">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">课时</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="classHour"  th:value="${curriculum.classHour}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label col-sm-offset-1">课程等级</label>
				<!--下拉列表-->
				<div class="col-sm-8">
					<select class="form-control selectSubmit" style="display:block;height: 40px;font-size: 16px" name="classGrade">
						<option th:selected="${curriculum.classGrade==0}">0</option>
						<option th:selected="${curriculum.classGrade==1}">1</option>
						<option th:selected="${curriculum.classGrade==2}">2</option>
						<option th:selected="${curriculum.classGrade==3}">3</option>
						<option th:selected="${curriculum.classGrade==4}">4</option>
						<option th:selected="${curriculum.classGrade==5}">5</option>
						<option th:selected="${curriculum.classGrade==6}">6</option>
						<option th:selected="${curriculum.classGrade==7}">7</option>
						<option th:selected="${curriculum.classGrade==8}">8</option>
						<option th:selected="${curriculum.classGrade==9}">9</option>
						<option th:selected="${curriculum.classGrade==10}">10</option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1">
					<button class="btn btn-info col-sm-3 col-sm-offset-6" type="submit">提交</button>
				</div>
			</div>

		</form>
	</div>
</div>
</div>
<div th:replace="commons/footer::footer"></div>
</body>
<script type="text/javascript">
	$("#date").datetime({
		type: "date",
		value: [2019, 9, 31],
		success: function(res) {
			console.log(res)
		}
	})
	var _distpicker = $('#distpicker');

	_distpicker.distpicker({
		province: '浙江省',
		city: '杭州市',
		district: '上城区'
	});

	$('#reset').click(function () {
		_distpicker.distpicker('reset');
	});
</script>
</html>
