<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>学生列表</title>
	<link rel="stylesheet" href="/css/dateTime.css">
	<!-- 引入bootstrap -->
	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
	<script src="/js/dateTime.min.js"></script>
	<script src="/js/distpicker.data.js"></script>
	<script src="/js/distpicker.js"></script>
	<!--		<script src="/js/main.js"></script>-->

	<style>
		.input-group, .input-group-md{
			margin:20px 20px;
		}
		h2{
			padding:5px;
			border-bottom:1px solid #ddd;
		}

	</style>
</head>
<body>
<!-- 导航 -->
<div th:replace="commons/bar::topbar"></div>
<!-- 主题内容 -->
<div class="container-fluid">
	<div class="page-main col-sm-8 col-sm-offset-1">
		<div class="input-group">
			<a th:href="@{/student/studentList}"><label class="glyphicon glyphicon-chevron-left"></label>返回上页</a>
		</div>
		<form class="form-horizontal " th:action="@{/student/addStudent}" enctype="multipart/form-data" method="post">
			<div class="form-group"  style="margin-top: 10px;">
				<label for="exampleInputFile"  class="col-sm-3 control-label col-sm-offset-1">头像</label>
				<div class="col-sm-8">
					<div class="custom-file">
						<input type="file"  name="file" class="custom-file-input" id="exampleInputFile">
					</div>
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">学号</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="stuNo">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">姓名</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label  col-sm-offset-1">性别</label>
				<div class="col-sm-3">
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="1"  checked> 男
						</label>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="0" > 女
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label col-sm-offset-1">班级</label>
				<!--下拉列表-->
				<div class="col-sm-8">
					<select class="form-control selectSubmit" style="display:block;height: 40px;font-size: 16px" name="classNo">
						<option th:each="class : ${classEntityList}" th:value="${class.classNo}" th:text="${class.classNo}">1001</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">生日</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" id="date" name="birth">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">手机号</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="phone">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">邮箱</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="email">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">家庭住址</label>
				<div class="col-sm-8 form-inline">
					<div id="distpicker" >
						<div class="form-group col-sm-offset-1 col-sm-3" style="margin-right: 10px;">
							<label class="sr-only" for="province">Province</label>
							<select class="form-control" id="province" name="province"></select>
						</div>
						<div class="form-group  col-sm-offset-1  col-sm-3" >
							<label class="sr-only" for="city">City</label>
							<select class="form-control" id="city" name="city"></select>
						</div>
						<div class="form-group col-sm-offset-1  col-sm-3"  style="margin-right: 10px;">
							<label class="sr-only" for="district">District</label>
							<select class="form-control" id="district" name="district"></select>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" id="reset" type="button">Reset</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1">
					<button class="btn btn-info col-sm-3 col-sm-offset-6" type="submit">提交</button>
				</div>
			</div>

		</form>
	</div>
</div>
</div>
<div th:replace="commons/footer::footer"></div>
</body>
<script type="text/javascript">
	$("#date").datetime({
		type: "date",
		value: [2019, 9, 31],
		success: function(res) {
			console.log(res)
		}
	})
	var _distpicker = $('#distpicker');

	_distpicker.distpicker({
		province: '浙江省',
		city: '杭州市',
		district: '上城区'
	});

	$('#reset').click(function () {
		_distpicker.distpicker('reset');
	});
</script>
</html>
