<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>学生列表</title>
	<link rel="stylesheet" href="/css/dateTime.css">
	<!-- 引入bootstrap -->
	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>

	<style>
		.input-group, .input-group-md{
			margin:20px 20px;
		}
		h2{
			padding:5px;
			border-bottom:1px solid #ddd;
		}

	</style>
</head>
<body>
<!-- 导航 -->
<div th:replace="commons/bar::topbar"></div>
<!-- 主题内容 -->
<!-- 主题内容 -->
<div class="container-fluid">
	<div class="page-main col-sm-8 col-sm-offset-1">
		<div class="input-group">
<!--			修改/-->
			<a th:href="@{/class/classAllList}"><label class="glyphicon glyphicon-chevron-left"></label>返回上页</a>
		</div>
		<form class="form-horizontal" th:action="@{/class/addClass}">

			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">班级号</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="classNo">
				</div>
			</div>
			<div class="form-group" style="margin-top: 10px;">
				<label class="col-sm-3 control-label col-sm-offset-1">专业</label>
				<div class="col-sm-8 username-area">
					<input type="text" class="form-control" name="major">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label col-sm-offset-1">班级评价</label>
				<!--下拉列表-->
				<div class="col-sm-8">
					<select class="form-control selectSubmit" style="display:block;height: 40px;font-size: 16px" name="classGrade">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6" selected>6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label  col-sm-offset-1">卓越班</label>
				<div class="col-sm-3">
					<div class="radio">
						<label>
							<input type="radio" name="isExcellent" value="1" checked> 是
						</label>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="radio">
						<label>
							<input type="radio" name="isExcellent" value="0" checked> 否
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1">
					<button class="btn btn-info col-sm-3 col-sm-offset-6" type="submit">提交</button>
				</div>
			</div>

		</form>
	</div>
</div>
</div>
<div th:replace="commons/footer::footer"></div>
</body>
<script type="text/javascript">

</script>
</html>
