<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.yht.dao.ITeacherDao">
    <resultMap id="BaseResultMap" type="com.yht.entity.Teacher">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="teacherNo" jdbcType="VARCHAR" property="teacherNo" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="professor" jdbcType="VARCHAR" property="professor" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>
    <sql id="Base_Column_List">
        id,  teacherNo, name, age, gender, professor, phone, email
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_teacher
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_teacher
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List" />
        from t_teacher where  1 = 1
        <if test="name != null and name != '' ">
            and name like #{name}
        </if>
        <if test="teacherNo != null and teacherNo != '' ">
            and teacherNo = #{teacherNo}
        </if>
        <if test="professor != null and professor != '' ">
            and professor = #{professor}
        </if>
    </select>
    <insert id="insertTeacher" parameterType="com.yht.entity.Teacher">
        insert into t_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherNo != null">
                teacherNo,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="professor != null">
                professor,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherNo != null">
                #{teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="professor != null">
                #{professor,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateTeacher" parameterType="com.yht.entity.Teacher">
        update t_teacher
        <set>
            <if test="teacherNo != null">
                teacherNo = #{teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>

            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="professor != null">
                professor = #{professor,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_teacher  where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>