<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.yht.dao.IUserDao">
    <resultMap id="BaseResultMap" type="com.yht.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="identity" jdbcType="VARCHAR" property="identity" />
    </resultMap>
    <sql id="Base_Column_List">
        id,  name, password, email, phone, identity
    </sql>
    <select id="selectByNameAndPwd" parameterType="com.yht.entity.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where name = #{name} and password = #{password}
    </select>
    <select id="selectByName" parameterType="com.yht.entity.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where name = #{name}
    </select>
   <insert id="insertUser" parameterType="com.yht.entity.User">
       insert into t_user
       <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="name != null">
               name,
           </if>
           <if test="password != null">
               password,
           </if>
           <if test="email != null">
               email,
           </if>
           <if test="phone != null">
               phone,
           </if>
           <if test="identity != null">
               identity,
           </if>
       </trim>
       <trim prefix="values (" suffix=")" suffixOverrides=",">
           <if test="name != null">
               #{name,jdbcType=VARCHAR},
           </if>
           <if test="password != null">
               #{password,jdbcType=VARCHAR},
           </if>

           <if test="email != null">
               #{email,jdbcType=VARCHAR},
           </if>
           <if test="phone != null">
               #{phone,jdbcType=VARCHAR},
           </if>
           <if test="identity != null">
               #{identity,jdbcType=INTEGER},
           </if>
       </trim>
   </insert>
</mapper>